# Kafka Configuration
KAFKA_BROKER=kafka:29092
ZOOKEEPER_CONNECT=zookeeper:2181

# Topic Names
TOPIC_USER_EVENTS=user-events
TOPIC_CONTENT_METADATA=content-metadata
TOPIC_FEATURE_STORE=feature-store

# Flink Configuration
FLINK_JOBMANAGER_HOST=flink-jobmanager